.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

#appHeading {
  text-align: center; }

h1 {
  font-size: 18px;
  color: #666;
  margin-top: 14px; }

.navbar .container-fluid.top-bar {
  height: auto; }

.navbar {
  height: 30px; }

body.page-header-fixed {
  padding-top: 70px; }

.stats-container [class^="col-"] .text-danger, .stats-container [class*="col-"] .text-danger {
  color: #d9534f; }

.stats-container [class^="col-"] .text-success, .stats-container [class*="col-"] .text-success {
  color: #60c560; }

.stats-container [class^="col-"] .number, .stats-container [class*="col-"] .number {
  font-size: 2.8em; }

.stats-container {
  min-height: 100px;
  height: 100px;
  text-align: center; }

/* Graph */
#graph {
  text-align: center;
  position: relative; }

.node.resource {
  cursor: pointer; }

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px; }

.node text {
  font-size: 13px; }

.node .diamond {
  font-size: 10px; }

.node.terminal:hover {
  cursor: default; }

.linkpath {
  fill: none; }

/* Graph Tooltips */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(49, 130, 189, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(49, 130, 189, 0.8);
  position: absolute;
  pointer-events: none; }

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center; }

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px; }

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center; }

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.btn-toolbar {
  margin-top: 20px; }

.table tr td [class*="fa"] {
  margin-right: 3px;
  font-size: 14px; }

.table tr.selected {
  background-color: #f5f5f5; }

.no-padding {
  padding: 0 !important; }

.widget-container.scrollable {
  height: 320px; }

.btn-primary.focus, .btn-primary:focus {
  background: #007aff;
  border-color: #007aff;
  color: #fff; }

#graph-loading {
  font-size: 16px;
  padding: 50px; }

#graph-loading i {
  margin-right: 20px; }
