
  <!-- End Navigation -->
  <div class="container-fluid main-content">

    <!-- Statistics -->
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container stats-container">
          <div class="col-md-4">
            <div class="number">
              10
            </div>
            <div class="text">
              Total resources
            </div>
          </div>
          <div class="col-md-4">
            <div class="number text text-danger">
              2
            </div>
            <div class="text">
              Impacted
            </div>
          </div>
          <div class="col-md-4">
            <div class="number text text-success">
              <small>8</small>
            </div>
            <div class="text">
              Not impacted
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="widget-container fluid-height" id="graph">
          <graph-visualization val="val"></graph-visualization>
          <div id="graphChange">
              <h4>Change</h4>
              <p>Deletion: 1 GHz Processor</p>
          </div>
          <div id="graphNotes">
              <h4>Legend</h4>
              <table>
                <tr>
                  <td colspan="2"><strong>Node types:</strong></td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                      <circle cx="15" cy="15" r="10" fill="#ccc" />
                    </svg>
                  </td>
                  <td>Resource</td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                      <circle cx="15" cy="15" r="10" fill="#ccc" stroke="#666" stroke-width="2px"/>
                    </svg>
                  </td>
                  <td>Resource - terminal node</td>
                </tr>
                <tr>
                  <td>
                    <svg width="30" height="30">
                        <rect x="14" y="-6" width="17" height="17" transform="rotate(45)" fill="#ccc"/>
                    </svg>
                  </td>
                  <td>Dependency</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                  <td colspan="2"><strong>Dependency types:</strong></td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                        <rect x="14" y="-6" width="17" height="17" transform="rotate(45)" fill="#9e9ac8"/>
                    </svg>
                  </td>
                  <td>ALL 'from' should be consistent (Conjunctive)</td>
                </tr>
                <tr>
                  <td>
                    <svg width="30" height="30">
                        <rect x="14" y="-6" width="17" height="17" transform="rotate(45)" fill="#6baed6"/>
                    </svg>
                  </td>
                  <td>ANY 'from' should be consistent (Disjunctive)</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                  <td colspan="2"><strong>Impact status:</strong></td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                      <circle cx="15" cy="15" r="10" fill="#e6550d" />
                    </svg>
                  </td>
                  <td>Impacted resource</td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                      <circle cx="15" cy="15" r="10" fill="#fd8d3c" />
                    </svg>
                  </td>
                  <td>Possibly impacted resource</td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                      <circle cx="15" cy="15" r="10" fill="#74c476" />
                    </svg>
                  </td>
                  <td>Not impacted resource</td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                  <td colspan="2"><strong>Lines:</strong></td>
                </tr>
                <tr>
                  <td>
                    <svg height="30" width="30">
                      <line x1="0" y1="15" x2="20" y2="15" style="stroke:#000;stroke-width:2" />
                    </svg>
                  </td>
                  <td>Represent links to dependent resources</td>
                </tr>
                <tr>
                  <td>
                      <svg height="30" width="30">
                        <line x1="0" y1="15" x2="20" y2="15" style="stroke:#ccc;stroke-width:2" />
                      </svg>
                  </td>
                  <td>Represent links to non-dependent resources</td>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
